// color
$color-primary: #FFD600;
$color-primary-thin: #FFFDF3;
$color-primary-thin-2: #fff075;
$color-secondly: #39ADD1;
$color-black: #150000;
$color-gray: #EEEEEE;
$color-gray-thin1: #cccccc;
$color-gray-thin2: #f4f4f4;
$color-gray2: #ABABAB;
$shadow-color: rgba(#000, 0.1);
$color-yellow: #ffaf00;

// content size
$max-content-size: 1240px;
$header-height:70px;
$footer-height:50px;


// size
$size-xs: 4px;
$size-s: 8px;
$size-m: 16px;
$size-l: 24px;
$size-xl: 32px;
$size-xxl: 40px;
$size-xxxl: 80px;

// font size
$font-size-8: 0.8rem;
$font-size-10: 1.0rem;
$font-size-12: 1.2rem;
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2.0rem;
$font-size-50: 5.0rem;


//thumbnail size
$thumbnail-size-xxs: 20px;
$thumbnail-size-xs: 40px;
$thumbnail-size-s: 70px;
$thumbnail-size-l: 180px;

// other
$header-h: 69px;


